html
  head
    title maze
    script(src="/socket.io/socket.io.js")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="/js/render.js")
    script(src="/js/client.js")
  body
    canvas#view(width="160", height="160")
