html
  head
    title maze
    link(rel="stylesheet", href="/css/maze.css")
    script(src="/socket.io/socket.io.js")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="/js/render.js")
    script(src="/js/client.js")
  body
    #container
      #main
        canvas#view(width="640", height="640")
        #pnls
      #side
        div HP : 
          span#hp
        #command
          input#atk(type="button", value="atk")
          input#dff(type="button", value="dff")
        #console

