html
  head
    title maze
    script(src="/socket.io/socket.io.js")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="/js/render.js")
    script(src="/js/client.js")
    script(src="/js/battle.js")
  body
    #container(style="display:-webkit-box")
      #main
        canvas#view(width="320", height="320")
        #command
          input#atk(type="button", value="atk")
          input#dff(type="button", value="dff")
        #console
      #side(style="margin-left:30px")
        div HP : 
          span#hp
