html
  head
    title maze
    script(src="/js/build/bundle.js")
    link(rel="stylesheet", href="/css/maze.css")
    link(rel="stylesheet", href="/css/map.css")
    meta(name="viewport", content="width=device-width, maximum-scale=1.0, minimum-scale=0.5,user-scalable=no,initial-scale=1.0")
  body
    #content

