html
  head
    title maze
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="/js/maze.js")
    script(src="/js/render.js")
    link(rel="stylesheet", href="/css/maze.css")
    meta(name="viewport", content="width=device-width, maximum-scale=1.0, minimum-scale=0.5,user-scalable=no,initial-scale=1.0")
  body
    #container 
      #main
        canvas#view(width="640", height="640")
      #menu
        #console
        #manual
          ul
            li 1：ヒント×
              span#hints 0
            li ↑：前進
            li ←：左を向く
            li →：右を向く
            li ↓：振り返る
            li タップ：前進
            li スワイプ：方向転換
            li 長押し：ヒント

