html
  head
    title maze
    script(src="/js/signin.js")
  body
    form(method="POST", action="/signin") signin
      ul(style="list-style:none")
        li name:
          input(type="text", name="name")
        li pass:
          input(type="password", name="password")
        li
          input(type="submit")

    form(method="POST", action="/signup") signup
      ul(style="list-style:none")
        li name:
          input(type="text", name="name")
        li pass:
          input(type="password", name="password")
        li
          input(type="submit")


