table {
  border-collapse: collapse;
  border:1px solid #333;
  background-color:white;
}
td {
  border-collapse: collapse;
  border:1px solid gainsboro;
  margin: 0;
  padding: 0;
  width: 10px;
  height: 10px;
}
td.ng {
  background-color: gray;
}

